*{
    box-sizing: border-box;
  
}
body{
    background-image: url(./images/39.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=day], input[type=months], input[type=year] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=day], input[type=months], input[type=year] {
      background-color: #ddd;
      outline: none;
      

  }

  hr{
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
  }
  .details{
    background-color: #4CAF50;
    color:white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .details:hover{
      opacity: 1;
  }
 a{
     color: dodgerblue;
  }
.p1{
    text-align: center;
}
h1{
    font-family: 'Sansita Swashed', cursive;
}
p{
    font-family: 'Sansita Swashed', cursive;
}
 